.body{
  font-family: Arial, sans-serif;
  background-color:#333;
  color: #c0c0c0
}
.calculadora {
  width: 200px;
  margin: 150px auto;
  padding: 15px;
  border: 5px solid #333;
  border-radius: 4px;
  background: #333;
}

#display {
  height: 30px;
  margin-bottom: 15px;
  background: #ffb6c1;
  padding: 15px;
  font-size: 25px;
  text-align: right;
  border: 3px solid #ccc;
  border-radius: 3px;
  overflow-x: auto;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

footer {
   text-align:center; 
   margin-top:20px;
}

